


h1 {
    color: rgb(128, 53, 53);
    font-family:sans-serif;
    font-size:2em;
    text-align: center;
    
  }
  h2 {
    color: rgb(0, 0, 0);
    font-family:sans-serif;
    text-align: center;
    
  }

  a {
    text-decoration:none;
    color: black;
 }
  
table {  
font-family:sans-serif;
margin-left: auto;
margin-right:auto;
margin-bottom: auto;
margin-top: auto;;
    }

td {
    background-color:#eee;    
    border-radius: 5px;
    width: 60pt;
}
th {
    background-color:rgb(128, 53, 53);
    color:#fff;
    border-radius: 5px;
    width: 25pt;
}
  
.center {
    margin:auto;
    display: table;
}

img{
    margin: auto;
    display: table;
    width:  250px;
    height: 250px;
    object-fit: cove
}

/* Styling for all home buttons */
.hbutton {
    width: 250px;
    height: 50px;
    border: black ;
    color: white;
    background-color: rgb(128, 53, 53);
    border-radius: 50px;
    box-shadow: black;
    transition: ease-out .8s;
    font-size: 20px;
    outline:black;
    margin-top: 2px;
    }
.hbutton:hover {
    box-shadow: inset rgb(36, 92, 4);
    cursor: pointer;
    color: rgb(0, 0, 0);
}


/* Styling for submit button*/
#sbutton {
    border: black ;
    color: white;
    background-color: rgb(128, 53, 53);
    border-radius: 4px;
    box-shadow: black;
    transition: ease-out .8s;
    font-size: 16px;
    outline:black;
    margin-top: 2px;
    }

/* Action button for remove and delete */
    .abutton {
        width: 75px;
        height: 50px;
        border: black ;
        color: white;
        background-color: rgb(8, 8, 8);
        border-radius: 50px;
        box-shadow: black;
        transition: ease-out .8s;
        font-size: 20px;
        outline:black;
        margin-top: 2px;
        
        }
    .abutton:hover {
        box-shadow: inset rgb(36, 92, 4);
        cursor: pointer;
        color: rgb(0, 0, 0);
    }
/* Space home button closer to the bottom */
.home{
margin-top: 50pt;
}